<div class="screen-wrapper">
    <div class="screen-content">
        <div class="screen-image">
            <img src="assets/images/image-expired-link.svg" alt="">
        </div>
        <div class="screen-title">
            <p>¡Ups, tu enlace ha caducado!</p>
        </div>
        <div class="screen-description">
            <p>Tu invitación a colaborar en Backoffice Wanacar ha vencido, te recomendamos contactar a tu administrador para solicitar uno nuevo.</p>
        </div>
    </div>
</div>