@import '~assets/scss/colors';

.title{
    color: #062749;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: left;
    max-width: 330px;
    margin-bottom: 35px;
    letter-spacing: -0.47px;
}

form{
    width: 100%;
    max-width: 320px;
}

mat-form-field.mat-form-field{
    display: block;
}

.password-forgot-link{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 16px;
    letter-spacing: -0.21px;
}

.new-password-action{
    margin-top: 50px;
}

.confirm-new-password-field{
    margin-top: 40px;
    &.pass-hide{
        padding-top: 65px;
    }
    .pass-show{
        padding-top: 0px;
    }
}

.validation-rack{
    display: flex;
    flex-wrap: wrap;
    top: -15px;
    position: relative;
    flex-direction: row;
    &.full-width{
        span.error{
            max-width: 100%;
        }
    }
    span.error{
        width: 100%;
        max-width: 50%;
        color: #292E33;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: flex-start;
    }
    .material-icons{
        font-size: 12px;
        margin-top: 3px;
        margin-right: 5px;
        &.success{
            color: #74BC00;
        }
        &.error{
            color: $red;
        }
    }
}

/* Media queries */
@media(max-width: 1023px){
    form{
        margin: 0 auto;
    }
}