<div class="title">
    <p>Ingresa y confirma tu nueva contraseña</p>
</div>
<form class="new-password-form" [formGroup]="formNewPassword">
    <div class="new-password-field">
        <wnbo-input-pass formControlName="password" placeholder="Contraseña" (keyup)="validPassword()" ></wnbo-input-pass>
        <div class="validation-rack" *ngIf="formNewPassword.get('password').value != ''">
            <span class="error">
                <i *ngIf="validPass.withinLengthRange" class="material-icons success">done</i>
                <i *ngIf="!validPass.withinLengthRange" class="material-icons error">close</i>
                8 Caractéres mínimo
            </span>
            <span class="error">
                <i *ngIf="validPass.containsDigit" class="material-icons success">done</i>
                <i *ngIf="!validPass.containsDigit" class="material-icons error">close</i>
                1 Número
            </span>
            <span class="error">
                <i *ngIf="validPass.containsUppercase" class="material-icons success">done</i>
                <i *ngIf="!validPass.containsUppercase" class="material-icons error">close</i>
                1 Mayúscula
            </span>
            <span class="error">
                <i *ngIf="validPass.containsLowercase" class="material-icons success">done</i>
                <i *ngIf="!validPass.containsLowercase" class="material-icons error">close</i>
                1 Minúscula
            </span>
            <span class="error">
                <i *ngIf="validPass.containsSpecialChar" class="material-icons success">done</i>
                <i *ngIf="!validPass.containsSpecialChar" class="material-icons error">close</i>
                1 Caracter especial
            </span>            
        </div>
    </div>
    <div class="confirm-new-password-field" [ngClass]="{'pass-show': validPass.isValid, 'pass-hide' : !validPass.isValid}">
        <wnbo-input-pass formControlName="passwordConfirm" placeholder="Confirmar Contraseña" *ngIf="validPass.isValid"></wnbo-input-pass>
        <div class="validation-rack full-width" *ngIf="formNewPassword.get('passwordConfirm').value != ''">
            <span class="error">
                <i *ngIf="!(validPass.isValid && formNewPassword.get('password').value != formNewPassword.get('passwordConfirm').value)" class="material-icons success">done</i>
                <i *ngIf="validPass.isValid && formNewPassword.get('password').value != formNewPassword.get('passwordConfirm').value" class="material-icons error">close</i>
                La Contraseña no coincide</span>         
        </div>
        <div class="new-password-action">
            <button class="action-foward-btn" mat-flat-button color="accent" type="submit" [disabled]="!formNewPassword.valid" (click)="submit()">Confirmar</button>
        </div>
    </div>
</form>