<div id="password-recovery-wrapper">
    <div class="email-verification">
        <div class="email-image">
            <img src="assets/images/img-email-send.svg" alt="">
        </div>
        <div class="title">
            <p>Verifica tu correo electrónico</p>
        </div>
        <div class="description">
            <p>Te hemos enviado un correo para continuar con tu recuperación de contraseña, por favor ingresa a tu bandeja y sigue las intrucciones.</p>
        </div>
        <div class="re-send-email-link">
            <a (click)="resend()">Reenviar correo</a>
        </div>
    </div>
</div>
