<div class="screen-wrapper">
    <div class="screen-content">
        <div class="screen-image">
            <img src="assets/images/image-blocked-user.svg" alt="">
        </div>
        <div class="screen-title">
            <p>Usuario bloqueado temporalmente</p>
        </div>
        <div class="screen-description">
            <p>Tenemos una mala noticia, en este momento no puedes acceder a tu cuenta, te recomendamos contactar al administrador de la cuenta.</p>
        </div>
    </div>
</div>