<div class="new-flow" *ngIf="create">
    <button mat-button class="new-action-btn" [routerLink]="['/admin/roles/new']" ><i class="btn-icon material-icons">add</i>Nuevo rol</button>
</div>
<div class="split-container user-roles-options">
    <div class="user-roles-navigation">
        <div class="link" matRipple [routerLink]="['/admin/users']" routerLinkActive="active" >Administración de usuarios</div>
        <div class="link" matRipple [routerLink]="['/admin/roles']" routerLinkActive="active" >Administración de roles</div>
    </div>
    <div class="user-roles-search-filter">
        <form>
            <div class="search-element search-filter">
                <mat-form-field>
                    <mat-label>Buscar</mat-label>
                    <i matPrefix class="material-icons">search</i>
                    <input type="tel" matInput>
                </mat-form-field>
            </div>
            <div class="search-element select-filter">
                <mat-form-field>
                    <mat-label>Filtro</mat-label>
                    <i matPrefix class="material-icons">filter_list</i>
                    <mat-select>
                        <mat-option value="">Opción filtro 1</mat-option>
                        <mat-option value="">Opción filtro 2</mat-option>
                        <mat-option value="">Opción filtro 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>
<div class="users_roles_table_container" *ngIf="list">
    <!-- Tabla -->
    <div class="ps-table">
        <!-- Cabecera -->
        <div class="ps-row header">
            <div class="ps-cell">Nombre</div>
            <div class="ps-cell" *ngFor="let head of headers">{{ head }}</div>            
            <div class="ps-cell"></div>
        </div>

        <!-- Fila -->
        <div class="ps-row" *ngFor="let rol of roles">
            <div class="ps-cell">{{ rol.name }}</div>
            <div class="ps-cell" *ngFor="let permision of rol.permision"><span class="permission-status" [ngClass]="getClassPermision(permision)" ></span></div>

            <div class="ps-cell">
                <div class="permission-actions">
                    <div class="persmission-btn" matRipple (click)="goToEdit(rol)" *ngIf="edit">
                        <i class="material-icons">edit_outline</i>
                    </div>
                    <div class="persmission-btn" matRipple (click)="showDeletingPermissionAlert(rol)" *ngIf="delete">
                        <i class="material-icons">delete_outline</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla -->
</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
