<div class="screen-wrapper">
    <div class="screen-content">
        <div class="screen-image">
            <img src="assets/images/image-inactive-user.svg" alt="">
        </div>
        <div class="screen-title">
            <p>Usuario inactivo</p>
        </div>
        <div class="screen-description">
            <p>Para continuar es necesario que actives tu cuenta.</p>
            <p>Tu administrador te envío un correo de activación, revisa tu bandeja, selecciona el botón de activar ¡y listo!</p>
        </div>
    </div>
</div>